@import './vars.sass';
@import './mixins.sass';
html,
body {
  margin: 0 auto;
  font-family: $font;
}
.divider {
  background-color: #d9d9d999;
  min-height: 1px;
  position: relative;
  width: 100%;
}
.is-mobile {
  display: none;
  @include only-mobile {
    display: block;
  }
}
.only-desktop {
  @include only-mobile {
    display: none;
  }
}
